@import url("./fonts.css");

:root {
	--rk_coptic: lightgreen;
	--text: #e4e2ea;
	--background: #060608;
	--primary: #aeabc3;
	--secondary: #5f445b;
	--accent: #a68395;
}

.hide {
	display: none;
}

.current-link {
	background: #ffffff22;
}

#menu ul {	
	width: 100%;
	padding: 0;
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto;
}

#menu li {
	
	//text-align: center;
}

#menu a {
	padding: .5rem;
	display: block;
	text-decoration: none;
}

#menu a:hover {
	background: #ffffff33;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--primary);
	background: var(--background);
	font-family: rk_serif;
	margin: .5rem;
	outline: 1px solid;
	height: calc(100dvh - 1rem);
}

#container {
	display: flex;
	flex-direction: column;
	height: stretch;
	height: calc(100dvh - 1rem);
	justify-content: space-between;
}

header {
	//outline: 1px dashed;
}

header div:nth-child(1) {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	padding: .5rem;
	gap: 10%;
}

nav ul {
	//display: flex;
	list-style-type: none;
}

main {
	padding-left: 1rem;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-color: #64496a transparent;
	height: 100%;
}

.text-align-right {
	text-align: right;
}

.preface-end-author {
	text-align: right;
}

.preface-end-author p {
	text-indent: 0;
	margin: 0;
}

@media screen and (max-width: 480px) {
	h1, h2, h3 {
		font-size: 1em;
	}
	main {
		padding-right: 1rem;
	}
}

p.coptic::first-letter {
	text-transform: uppercase;
	font-size: 2.5em;
	color: gold;
	margin-right: 5px;
	padding: 3px 5px 0;
	width: 5em;
	line-height: 0;
	border: 1px solid #ffb70055;
	border-radius: .25rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: rk_serif;
	margin-block: 0rem;
}

h1 {
	color: var(--rk_coptic);
	font-weight: normal;
	transition: font-size .5s ease-in-out;
}

h1 a {
	transition: color .25s ease-in-out;
}

h1 a:hover {
	color: var(--primary);
}

h1 a {
	text-decoration: none;
}

h2 {
	color: var(--primary);
	font-weight: normal;
}

h3 {
	color: var(--text);
	font-weight: normal;
	position: sticky;
	top: 0rem;
	padding-block: 1rem;
	background: linear-gradient(to bottom, var(--background), var(--background), var(--background), transparent);
}

h4 {
	font-weight: normal;
}

p {
	text-indent: 1.5rem;
	line-height: 2;
}

sup {
	line-height: 0;
}

b {
	color: violet;
}

em {
	color: #d4b741;
}

i {
	font-style: normal;
	font-family: italic;
	color: #c6b850bb;
}

.dialect {
	font-weight: 400;
	color: #a794f1;
	color: #eeeeee;
	color: #9b5792;
	color: #427daf;
}

.dialect sup.non-italic {
	font-style: normal;
	font-family: body;
}

.coptic {
	font-family: rk_coptic;
	color: #46a65d;
}

.headword {
	font-size: 1.5em;
	font-family: rk_coptic;
	color: #c95795;
	line-height: 0;
}

.greek {
	font-family: rk_greek, rk_coptic;
	color: #54b0c3;
}

.arabic,
.hebrew,
.aramaic {
	direction: rtl;
	unicode-bidi: isolate;
}

.arabic {
	font-family: rk_arabic, rk_hebrew;
	font-size: 1.2em;
	line-height: 0;
	color: #ded97b;
}

.hebrew {
	font-family: rk_hebrew;
	font-size: 1.2em;
	line-height: 0;
	color: #a1bbff;
}

.aramaic {
	font-family: rk_aramaic;
	font-size: 1.5em;
	line-height: 0;
	color: #ff9090;
}

.amharic {
	font-family: rk_amharic;
	font-size: 1.2em;
	line-height: 0;
	color: #659db8;
}

.egypt-hiero {
	font-family: rk_egypt-hiero;
	font-size: 2em;
	color: gold;
	color: #eeeeee88;
}

.egypt-hiero_precomposed {
	font-family: rk_egypt-hiero_precomposed;
	font-size: 2em;
	color: lightgreen;
}

.egypt-hiero-test {
	font-family: rk_egypt-hiero-pdf, rk_egypt-hiero-pdf-2;
	color: gold;
	color: #eeeeee88;
}

.egypt-translit {
	font-family: rk_egypt-translit;
	font-style: italic;
	color: lightblue;
	color: #eeeeee88;
}











a {
	color: var(--accent);
}

a.permalink {
	color: var(--text);
	font-weight: bold;
	margin-inline: .25rem;
}

a.permalink:before {
	//content: "🔗";
}

.subsection {
	margin-block: 1rem;
}

.subsection table.chart {
	display: inline-block;
	margin-inline: 2em;
	border-collapse: collapse;
}

.subsection table.chart + .chart {
	
}

.subsection table.example {
	
	margin-inline: 2em;
	margin-block: 2em;
	//border: 1px solid;
	border-collapse: collapse;
}

.subsection table.example {
	
}

.subsection table.chart th,
.subsection table.chart td {
	//border: 1px solid;
	padding: .5em;
	
}

.subsection table.example td {
	padding: .5em;
	
}

.subsection table.chart th {
	
}

ul {
	list-style-type: square;
	padding-block: 1rem;
}
